@font-face {
  font-family: 'Badaboom';
  src: url(../fonts/Badaboom.ttf);
}
@font-face {
  font-family: 'BackIssues';
  src: url(../fonts/BackIssues.ttf);
}
@font-face {
  font-family: 'Montserrat';
  src: url(../fonts/Montserrat/Montserrat-Light.ttf);
}
