body{
	font-family: 'Montserrat';
}
#loading {
    position: absolute;
		width: 100%;
		height: 100%;
		background: url('../images/app-arts/loading.gif') no-repeat center center;
}
.title{
	font-family: 'Badaboom';
	text-shadow: 1px 2px #000000;
	font-weight: bold;
	color: #fff;
	font-size: 50px;
}
.heading{
	font-family: 'Badaboom';
	font-weight: bold;
}
.row-content{
	padding: 10px;
}
.row-banner-container{
	background: url('../images/app-arts/svg/banner-home.svg') no-repeat center;
  background-size: 100% auto;
}
.link-field-req:link,
.link-field-req:visited,
.link-field-req:hover,
.link-field-req:active{
	color: #843534;
	font-size: 20px;
}
.field-required{
	font-size: 20px;
}
.img-logo{
	width: 100%;
	height: auto;
}
.img-center{
	margin: 0 auto;
}
.img-howto{
	width: 150px;
	height: auto;
}
.row.display-flex {
  display: flex;
  flex-wrap: wrap;
}
.row.display-flex > [class*='col-'] {
  display: flex;
  flex-direction: column;
	width: 300px;
	height: auto;
}
.img-sponsor{
	width: 250px;
	height: auto;
	margin-bottom: 40px;
	margin-top: 40px;
}
.img-organizer{
	width: 250px;
	height: auto;
}
.register-btn{
	font-size: 15px;
	margin-top: 10px;
	margin-bottom: 10px;
	background: #cb2228;
	color: #ffffff;
	border: 2px solid #229ED7;
	transition: 1s;
	text-decoration: none;
	font-size: 15px;
	font-weight: bold;
  white-space: normal;
}
.register-btn:hover{
	background: #229ED7;
	color: #FFFFFF;
}
.box{
	padding: 35px;
}
.box-expert{
	background: #f1cd33;
	color: #ffffff;
}
.box-judge{
	color: #ffffff;
	background: #229ed7;
}
.change-world{
	color: #FFFFFF;
	background: #229ED7;
	padding: 75px;
}
.howto{
	color: #FFFFFF;
	background: #CB2228;
	padding: 35px;
	border-radius: 20px;
}
.howto-icon{
	font-size: 100px;
}
.howto-element{
	margin: 5px;
	background: #ffffff;
}
.category{
	background: #229ED7;
	color: #FFFFFF;
	border-radius: 20px;
}
.postulation{
	border: 2px solid #000;
	margin-top: 20px;
	margin-bottom: 20px;
}
.sponsor{
	border-bottom: 1px solid #D3D3D3;
}
.banner{
	width: 100%;
}
.navbar-custom {
	background-color:#229ed7;
  color: #f1cd33;
	border-radius:0;
	padding: 10px;
}
.navbar-custom .navbar-nav > li > a {
  	color: #f1cd33;
		font-family: 'Badaboom';
		text-shadow: 1px 2px #000000;
		font-weight: bold;
		font-size: 22px;
		text-align: center;
}
.navbar-custom .navbar-nav > .active > a {
  color: #ffffff;
	background-color:transparent;
}
.navbar-custom .navbar-nav > li > a:hover,
.navbar-custom .navbar-nav > li > a:focus,
.navbar-custom .navbar-nav > .active > a:hover,
.navbar-custom .navbar-nav > .active > a:focus,
.navbar-custom .navbar-nav > .open >a {
    text-decoration: none;
    background-color: transparent;
		color: #ffffff;
}
.navbar-custom .navbar-toggle {
  	background-color:#cb2228;
}
.fa-bars {
		font-size: 25px;
		color: #f1cd33;
}
.footer{
	background: #778899;
	padding-top: 50px;
	padding-bottom: 50px;
	color: #ffffff;
}
.btn-file {
    position: relative;
    overflow: hidden;
}
.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: #229ED7;
    cursor: inherit;
    display: block;
}
