body, html {
		font-family: 'Montserrat';
}

#loading {
    position: absolute;
		width: 100%;
		height: 100%;
		background: url('../images/app-arts/loading.gif') no-repeat center center;
}
.title{
	font-family: 'Badaboom';
	text-shadow: 0px 4px #000000;
	font-weight: bold;
	color: #fff;
	font-size: 50px;
	padding-top: 50px;
	padding-bottom: 50px;
}
.title-white-bg{
	font-family: 'Badaboom';
	color: #000;
	font-size: 50px;
	padding-top: 50px;
	padding-bottom: 50px;
}
.subtitle{
	font-family: 'BackIssues';
	text-shadow: 0px 5px #000000;
	font-weight: bold;
	color: #fff;
	font-size: 35px;
	margin-top: 50px;
	margin-bottom: 50px;
}
.subtitle-white-bg{
	font-family: 'BackIssues';
	color: #000;
	font-size: 35px;
	margin-top: 50px;
	margin-bottom: 50px;
}
.heading{
	font-family: 'Badaboom';
	font-weight: bold;
}
.row-content{
	padding: 10px
}
.row-banner-container{
		background: url('../images/app-arts/svg/banner-web-10.svg') no-repeat center;
		background-size: 100% auto;
		background-position: 0px 100%;
		height: 100vh;
}
.row-banner{
		background: url('../images/app-arts/banner.jpg') no-repeat center;
		/* The image used */

    /* Full height */
    height: 100%;

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
@media only screen and (min-device-width: 400px) {
    .row-banner-container {
			background: url('../images/app-arts/svg/banner-ciudad.png') no-repeat center ;
			background-size: 100%;
	    height: 70vh;
			background-position: 0px 60%;
    }
		.row-banner{
			background: url('../images/app-arts/banner.jpg') no-repeat center;
			background-size: 100%;
	    height: 100vh;
		}
}
.link-field-req:link,
.link-field-req:visited,
.link-field-req:hover,
.link-field-req:active{
	color: #843534;
	font-size: 20px;
}
.social-network:link,
.social-network:visited,
.social-network:hover,
.social-network:active{
	color: #fff;
	margin: 10px 15px;
}
.field-required{
	font-size: 20px;
}
.img-logo{
	width: 100%;
	height: auto;
	margin: auto;
}
.img-center{
	margin: 0 auto;
}
.img-howto{
	width: 150px;
	height: auto;
}
.row.display-flex {
  display: flex;
  flex-wrap: wrap;
}
.row.display-flex > [class*='col-'] {
  display: flex;
  flex-direction: column;
	width: 300px;
	height: auto;
}
.img-sponsor{
	width: 230px;
	height: auto;
	margin-bottom: 40px;
	margin-top: 40px;
}
.img-organizer{
	width: 250px;
	height: auto;
}
.register-btn{
	font-size: 15px;
	margin-top: 10px;
	margin-bottom: 10px;
	background: #cb2228;
	color: #ffffff;
	border: 2px solid #229ED7;
	transition: 1s;
	text-decoration: none;
	font-size: 15px;
	font-weight: bold;
  white-space: normal;
	font-family: 'MontserratBlack'
}
.register-btn:hover{
	background: #229ED7;
	color: #FFFFFF;
}
.box{
	padding: 35px;
}
.box-expert{
	background: #f1cd33;
	color: #ffffff;
}
.box-judge{
	color: #ffffff;
	background: #229ed7;
}
.change-world{
	color: #FFFFFF;
	background: #229ED7;
	padding: 75px;
}
.howto{
	color: #FFFFFF;
	background: #CB2228;
	padding: 35px;
	border-radius: 10px;
}
.howto-icon{
	font-size: 100px;
}
.howto-element{
	margin-bottom: 10px;
	margin-top: 10px;
	background: #fff;
}
.category{
	background: #229ED7;
	color: #FFFFFF;
	border: 1px solid #000;
}
.postulation{
	border: 2px solid #000;
	}
.sponsor{
	border-bottom: 1px solid #D3D3D3;
}
.banner{
	width: 100%;
}
.navbar-custom {
	background-color:#229ed7;
  color: #f1cd33;
	border-radius:0;
	padding: 0px;
}
.navbar-custom .navbar-nav > li > a {
  	color: #fff;
		font-family: 'Badaboom';
		text-shadow: 1px 2px #000000;
		font-weight: bold;
		font-size: 25px;
		text-align: center;
		margin-left: 25px;
}
.navbar-custom .navbar-nav > .active > a {
  color: #f1cd33;
	background-color:transparent;
}
.navbar-custom .navbar-nav > li > a:hover,
.navbar-custom .navbar-nav > li > a:focus,
.navbar-custom .navbar-nav > .active > a:hover,
.navbar-custom .navbar-nav > .active > a:focus,
.navbar-custom .navbar-nav > .open >a {
    text-decoration: none;
    background-color: transparent;
		color: #f1cd33;
}
.navbar-custom .navbar-toggle {
  	background-color:#cb2228;
}
.fa-bars {
		font-size: 25px;
		color: #f1cd33;
}
.footer{
	background: #778899;
	padding-top: 50px;
	padding-bottom: 50px;
	color: #ffffff;
}
.btn-file {
    position: relative;
    overflow: hidden;
}
.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: #229ED7;
    cursor: inherit;
    display: block;
}
.text-blue{
	color: #1476a5;
}
.panel-blue > .panel-heading {
  color: #fff;
  background-color: #229ed7;
  border-color: #ddd;
}
