body{
	font-family: 'BackIssues';
}
.heading{
	font-family: 'Badaboom';
	font-weight: bold;
}
.row-content{
	padding: 10px;
}
.row-banner-container{
	background: url('../images/app-arts/svg/banner-home.svg') no-repeat center;
  background-size: 100% auto;
}
.img-logo{
	width: 100%;
	height: auto;
}
.img-center{
	margin: 0 auto;
}
.img-howto{
	width: 150px;
	height: auto;
}
.row.display-flex {
  display: flex;
  flex-wrap: wrap;
}
.row.display-flex > [class*='col-'] {
  display: flex;
  flex-direction: column;
}
.img-sponsor{
	width: 165px;
	height: auto;
	padding: 20px;
}
.img-organizer{
	width: 250px;
	height: auto;
}
.register-btn{
	margin-top: 10px;
	margin-bottom: 10px;
	border: 2px solid #229ED7;
	transition: 1s;
	text-decoration: none;
	font-size: 15px;
	font-weight: bold;
}
.register-btn:hover{
	background: #229ED7;
	color: #FFFFFF;
}
.box{
	padding: 35px;
}
.change-world{
	color: #FFFFFF;
	background: #229ED7;
	padding: 50px;
  align-items: center;
}
.howto{
	color: #FFFFFF;
	background: #CB2228;
	padding: 50px;
}
.howto-icon{
	font-size: 100px;
}
.howto-element{
	padding: 10px;
}
.category{
	background: #229ED7;
	color: #FFFFFF;
}
.sponsor{
	border-bottom: 1px solid #D3D3D3;
}
.banner{
	width: 100%;
}
.navbar-custom {
	background-color:#229ed7;
  color: #f1cd33;
	border-radius:0;
	padding: 18px;
}
.navbar-custom .navbar-nav > li > a {
  	color: #f1cd33;
		font-family: 'Badaboom';
		text-shadow: 1px 2px #000000;
		font-weight: bold;
		font-size: 22px;
		text-align: center;
}
.navbar-custom .navbar-nav > .active > a {
  color: #ffffff;
	background-color:transparent;
}
.navbar-custom .navbar-nav > li > a:hover,
.navbar-custom .navbar-nav > li > a:focus,
.navbar-custom .navbar-nav > .active > a:hover,
.navbar-custom .navbar-nav > .active > a:focus,
.navbar-custom .navbar-nav > .open >a {
    text-decoration: none;
    background-color: transparent;
		color: #ffffff;
}
.navbar-custom .navbar-toggle {
  	background-color:#cb2228;
}
.fa-bars {
		font-size: 25px;
		color: #f1cd33;
}
.footer{
	background: #778899;
	padding-top: 50px;
	padding-bottom: 50px;
	color: #ffffff;
}
