<div class="container-fluid">
	<div class="row">
		<div class="col-xs-12 col-sm-10 col-sm-offset-1">
			<h1 class="text-center">Crea un equipo</h1>
			<div class="col-xs-12 col-sm-8 col-sm-offset-2">
				<h2>Todos los campos con <span style="color:red">*</span> son requeridos</h2>
			</div>
			<form class="form-horizontal" name="registerForm" ng-submit="vm.sendRegistration()">
	    		<div class="form-group">
	    			<div class="col-xs-12 col-sm-8 col-sm-offset-2">
	    				<label for="nombre" class="col-xs-12 col-sm-12 ">Nombre del equipo <span style="color:red">*</span></label>
					    <div class="col-xs-12 col-sm-12">
					      <input type="text" id="nombre" ng-model="vm.dataRegister.teamName"  placeholder="P.ej.: Pablo" class="form-control" required>
					    </div>
	    			</div>
				</div>
				<div class="form-group">
					<div class="col-xs-12 col-sm-8 col-sm-offset-2">
						<label id="correo" class=" col-xs-12">Ciudad <span style="color:red">*</span></label>
						<div class="col-xs-12">
							<select ng-model="vm.dataRegister.cityId" class="form-control" ng-options="city.id as city.label for city in vm.cities" required></select>
						</div>
					</div>
				</div>
				<div class="form-group">
					<div class="col-xs-12 col-sm-8 col-sm-offset-2">
						<label id="correo" class=" col-xs-12">División <span style="color:red">*</span></label>
						<div class="col-xs-12">
							<select ng-model="vm.dataRegister.divisionId" class="form-control" ng-options="division.id as division.label for division in vm.divisions" required></select>
							<p style="padding:5px;"></p>
						</div>
					</div>
				</div>
				<div class="form-group" >
					<div class="col-xs-12 col-sm-8 col-sm-offset-2">
						<label id="cv" class=" col-xs-12">Imagen del equipo </label>
						<div class="col-xs-12">
							<label class="btn btn-primary btn-file">
								Buscar <input type="file"
												ngf-select ngf-pattern="'.jpg,.gif,.png'"
												ngf-accept="'.jpg,.gif,.png'"
												ngf-resize="{width: 250, height: 250, quality: .8, centerCrop: true}"
												style="display:none;"
												class="show-errors file-upload"
												ng-model="vm.dataRegister.img"/>
							</label>
							<p style="padding:3px;"></p>
							<p>{{ vm.dataRegister.img.name }}</p>
						</div>
					</div>
				</div>
				<!--
				TODO: LIST ON KEY UP, TO FIND OTHER MEMBERS AND SEND THEM INVITATION TO BECOME PART OF THE TEAM
				<div class="form-group">
					<div class="col-xs-12 col-sm-8 col-sm-offset-2">
						<label id="correo" class=" col-xs-12">Correo electrónico</label>
						<div class="col-xs-12">
							<input type="email" id="correo" class="form-control" ng-model="vm.dataRegister.email" placeholder="P.ej.: tuemail@gmail.com" required>
							<p style="padding:3px;"></p>
						</div>
					</div>
				</div> -->
				<div class="col-xs-12 col-sm-8 col-sm-offset-2">
					<div class="alert alert-danger msg-alert" ng-if="vm.isNotRegistered.state"><strong><i class="mdi mdi-exclamation" style="font-size:15px;"></i> {{vm.isNotRegistered.msg}}</strong></div>
			        <button type="submit" class="btn btn-success btn-lg pull-right" ng-disabled="registerForm.$invalid || vm.isNotRegistered.isLoading"><i ng-class="!vm.isNotRegistered.isLoading ? 'fa fa-users' : 'fa fa-circle-o-notch fa-spin'"></i> Crear equipo</button>
			        <button class="btn btn-default btn-lg pull-right" ui-sref="user"><i class="fa fa-arrow-left"></i> Volver al inicio</button>
				</div>
		      </form>
		</div>
	</div>
</div>
<p style="padding:20px;"></p>
