<div class="container-fluid">
	<div class="row">
		<div class="col-xs-12 col-sm-6">
			<div class="panel-group">
				<div class="panel panel-default">
					<div class="panel-body">
						<div class="col-xs-12 col-sm-8 col-sm-offset-2">
							<div ng-if="vm.userImg.newImg == null">
								<img ng-if="!vm.userData.image" src="/app/images/users/default-user.png" style="margin:auto;" alt="">
								<img ng-if="vm.userData.image" ng-src="/app/images/users/{{vm.userData.image.name}}" style="margin:auto;" alt="">
							</div>
							<img ng-if="vm.userImg.newImg != null" ngf-src="vm.userImg.newImg" style="margin:auto;" alt="">
						</div>
						<div class="col-xs-12 col-sm-6 col-sm-offset-3">
						<p style="padding:5px;"></p>
							<button ng-if="vm.userImg.newImg != null" class="btn btn-info pull-right" ng-model="vm.userImg.newImg" ng-click="vm.updateImg()"> Guardar</button>
							<label class="btn btn-primary btn-file">
								Subir imagen <input type="file"
												ngf-select ngf-pattern="'.jpg,.gif,.png'"
												ngf-accept="'.jpg,.gif,.png'"
												ngf-resize="{width: 250, height: 250, quality: .8, centerCrop: true}"
												style="display:none;"
												class="show-errors file-upload"
												ng-model="vm.userImg.newImg"/>
							</label>
						</div>
						<div class="col-xs-12 col-sm-6 col-sm-offset-3">
							<button class="btn btn-info btn-block" style="margin: 10px 0px;" ui-sref="user"><fa class="fa fa-arrow-left"></fa> Volver</button>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="col-xs-12 col-sm-6">
			<div class="panel-group">
				<div class="panel panel-default">
					<div class="panel-body">
						<h1 class="title-white-bg">{{ vm.userData.names + ' ' + vm.userData.lastnames }}</h1>
						<p ng-if="vm.userData.bio"> {{ vm.userData.bio.name }} </p>
						<div class="col-xs-12">
							<p><strong>Correo electrónico:</strong> {{ vm.userData.email }}</p>
							<p><strong>Celular:</strong> {{ vm.userData.cellphone }}</p>
							<p><strong>Fecha de nacimiento:</strong> {{ vm.userData.birth_date | date:'dd-MM-yyyy' }}</p>
							<p><strong>Género:</strong> {{ vm.userData.genre.descripcion }}</p>
							<p><strong>Ciudad:</strong> {{ vm.userData.city.nombre }}</p>
							<p><strong>Zona: </strong>{{ vm.userData.zone }}</p>
							<p ng-if="vm.userCreds.role == 1"><strong>Colegio:</strong> {{ vm.userData.student.school }}</p>
							<p ng-if="vm.userCreds.role == 2"><strong>Puesto de trabajo:</strong> {{vm.userData.mentor.job }}</p>
							<p ng-if="vm.userCreds.role == 2"><strong>Profesión:</strong> {{vm.userData.mentor.profession }}</p>
							<button class="btn btn-link pull-right" ui-sref="user.my-profile.edit"><i class="fa fa-pencil-square-o fa-2x"></i></button>
						</div>
						<div class="col-xs-12" ng-if="vm.userCreds.role == 2">
							<h2>Habilidades</h2>
							<div class="col-xs-6" ng-repeat="skill in vm.userData.mentor.skills">
								<div>
									<p>{{ skill.skill_name }} <span class="label label-default">{{ skill.skill_level }}</span></p>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<script src="/app/js/bootstrap-init.js"></script>
