<div class="container-fluid">
	<div class="row">
		<div class="col-xs-12 col-sm-10 col-sm-offset-1">
			<h1 class="text-center">AUTORIZACIÓN DE LOS PADRES</h1>
			<div class="panel-group">
				<div class="panel panel-default">
					<div class="panel-body">
						<div class="col-xs-12 col-sm-6 col-sm-offset-3 text-center">
							<strong>Escribe el correo electrónico de tu padre/apoderado, para que pueda autorizar tu participación
							en el concurso Héroes Digitales. <br>
							Si no tiene un correo electrónico, puedes descargar el siguiente <a href="/app/docs/autorizacion-padres.pdf"  target="_blank" download>documento</a>, sacar una fotografía al <strong>documento impreso, firmado por el padre/tutor, su carnet de identidad</strong> y enviarlo al número de Whatsapp: <span style="color:#33b5e5">69912525</span></strong>
							<p style="padding:10px;"></p>
							<form class="form-horizontal" name="authForm" ng-submit="vm.accept()">
								<p class="text-center"><strong>Nombre del apoderado</strong></p>
								<input type="text" class="form-control" ng-model="vm.parents.signature" style="margin-bottom:10px;" required>
								<p class="text-center"><strong>Correo electrónico del padre/apoderado</strong></p>
								<input type="email" class="form-control" ng-model="vm.parents.email" style="margin-bottom:10px;" required>
								<button type="submit" class="btn btn-primary btn-lg btn-block" ng-disabled="authForm.$invalid || vm.sended.isLoading">Enviar autorización al email</button>
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<div id="parentsModal" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h3 class="modal-title text-center"><strong>{{ vm.sended.title }}</strong></h3>
      </div>
      <div class="modal-body">
        <p>{{ vm.sended.msg }}</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.redirect(vm.sended.success)">Cerrar</button>
      </div>
    </div>
  </div>
</div>
