<div class="container-fluid">
	<div class="row" >
		<div class="col-xs-12 col-sm-3">
			<div class="panel panel-blue">
				<div class="panel-heading">
					<h2 class="subtitle text-center">Filtros</h2>
				</div>
				<div class="panel-body">
					<div>
						<h4>Ciudad</h4>
						<input type="checkbox" ng-checked="true" ng-click="vm.updateFilter('cities', 'La Paz')"> La Paz <br />
						<input type="checkbox" ng-checked="true" ng-click="vm.updateFilter('cities', 'El Alto')"> El Alto
					</div>
					<div>
						<h4>Estudiantes</h4>
						<input type="radio" ng-model="vm.filters.withTeam" ng-value="true" selected> Con equipo <br />
						<input type="radio" ng-model="vm.filters.withTeam" ng-value="false" > Sin equipo
					</div>
				</div>
			</div>
		</div>
		<div class="col-xs-12 col-sm-9">
			<h1 class="text-center title-white-bg"> ESTUDIANTES</h1>
			<div class="col-xs-12" ng-if="vm.isLoading">
				<h1 class="text-center" style="font-size:75px;color:#229ed7"><i class="fa fa-circle-o-notch fa-spin" ></i></h1>
			</div>
			<div class="row display-flex" ng-if="!vm.isLoading">
				<div class="col-xs-12 col-sm-4 " ng-repeat="student in vm.students | StudentFilter:vm.filters.cities:vm.filters.withTeam track by $index" >
					<div class="panel panel-default">
						<div class="panel-heading">
							<img ng-if="!student.image" src="/app/images/users/default-user.png" style="margin:auto;" class="img-responsive" alt="">
							<img ng-if="student.image" ng-src="/app/images/users/{{student.image.name}}" style="margin:auto;" class="img-responsive" alt="">
						</div>
						<div class="panel-body">
							<h4 class="text-center">{{ student.names + ' ' + student.lastnames }}</h4>
							<div style="margin-bottom:10px;">
								<span class="label label-warning">Colegio: {{ student.student.school }}</span>
								<span class="label label-success city-label">Ciudad: {{ student.city.nombre }}</span>
								<span class="label label-primary" ng-if="!student.has_team">Necesita equipo</span>
								<span class="label label-default" ng-if="student.has_team">Tiene equipo</span>
							</div>
							<button class="btn btn-primary btn-lg btn-block" ui-sref="user.student-profile({id: student.id})">Ver perfil</button>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
