<div class="container-fluid">
	<div class="row">
		<div class="col-xs-12 col-sm-3">
			<div class="panel panel-blue">
				<div class="panel-heading">
					<h2 class="subtitle text-center">Filtros</h2>
				</div>
				<div class="panel-body">
					<div>
						<h4>Ciudad</h4>
						<input type="checkbox" ng-checked="true" ng-click="vm.updateFilter('cities', 'La Paz')"> La Paz <br />
						<input type="checkbox" ng-checked="true" ng-click="vm.updateFilter('cities', 'El Alto')"> El Alto
					</div>
					<div>
						<h4>Mentores</h4>
						<input type="radio" ng-model="vm.filters.withTeam" ng-value="true" > Con equipo <br />
						<input type="radio" ng-model="vm.filters.withTeam" ng-value="false" selected> Sin equipo
					</div>
					<div>
						<h4>Habilidad</h4>
						<input type="checkbox" ng-checked="true" ng-click="vm.updateFilter('skills', 'AppInventor')"> App Inventor <br />
						<input type="checkbox" ng-checked="true" ng-click="vm.updateFilter('skills', 'Android')"> Android
						</br>
						<input type="checkbox" ng-checked="true" ng-click="vm.updateFilter('skills', 'Java')"> Java <br />
						</br>
						<input type="checkbox" ng-checked="true" ng-click="vm.updateFilter('skills', 'Diseño')"> Diseño <br />
						</br>
						<input type="checkbox" ng-checked="true" ng-click="vm.updateFilter('skills', 'Documentación')"> Documentación <br />
						</br>
						<input type="checkbox" ng-checked="true" ng-click="vm.updateFilter('skills', 'Emprendimiento')"> Emprendimiento
					</div>
				</div>
			</div>
		</div>
		<div class="col-xs-12 col-sm-9">
			<div class="col-xs-12" style="padding-top:20px;padding-bottom:20px">
				<div class="input-group">
					<span class="input-group-addon"><i class="fa fa-search"></i></span>
					<input type="text" class="form-control" placeholder="Buscar mentor" ng-model="vm.mentorFilter">
				</div>
			</div>
			<h1 class="title-white-bg text-center"> MENTORES</h1>
			<div class="col-xs-12" ng-if="vm.isLoading">
				<h1 class="text-center" style="font-size:75px;color:#229ed7"><i class="fa fa-circle-o-notch fa-spin" ></i></h1>
			</div>
			<div class="row display-flex" ng-if="!vm.isLoading">
				<div class="col-xs-12 col-md-4" ng-repeat="mentor in vm.mentors | MentorFilter : vm.filters.cities : vm.filters.withTeam : vm.filters.skills | filter:vm.mentorFilter track by $index">
					<div class="panel panel-default">
						<div class="panel-heading">
							<img ng-if="!mentor.image" src="/app/images/users/default-user.png" style="margin:auto;" class="img-responsive" alt="">
							<img ng-if="mentor.image" ng-src="/app/images/users/{{mentor.image.name}}" style="margin:auto;" class="img-responsive" alt="">
						</div>
						<div class="panel-body">
							<h4 class="text-center">{{ mentor.names + ' ' + mentor.lastnames }}</h4>
							<div>
								<span class="label label-success city-label">Ciudad: {{ mentor.city.nombre }}</span>
								<span class="label label-primary" ng-if="!mentor.has_team">Necesita equipo</span>
								<span class="label label-default" ng-if="mentor.has_team">Tiene equipo</span>
								<div class="col-xs-5" ng-repeat="skill in mentor.mentor.skills" style="margin:2px;">
									<span class="label label-default" >
										 {{skill.skill_name}}
									 </span>
								</div>
							</div>
							<p style="padding:30px"></p>
							<button class="btn btn-primary btn-lg btn-block" ui-sref="user.mentor-profile({id: mentor.id})">Ver perfil</button>
						</div>
					</div>
				</div>
			</div>
			<!-- <div class="col-xs-12">
				<ul class="pagination">
					<li ng-repeat="page in vm.pagination" ng-class="page == vm.currentPage ? 'active' : 'none'">
						<a href="#" ui-sref="user.mentors({num: page})">{{ page }}</a>
					</li>
				</ul>
			</div> -->
		</div>
	</div>
</div>
