<div class="container-fluid">
	<div class="row">
		<div class="col-xs-12 col-sm-6">
			<div class="panel-group">
				<div class="panel panel-default">
					<div class="panel-body">
						<div class="col-xs-12 col-sm-8 col-sm-offset-2">
							<div ng-if="vm.teamImg.newImg == null">
								<img ng-if="!vm.teamData.img" src="/app/images/teams/default-team.jpg" style="margin:auto;width:200px;height:200px;" class="img-responsive" >
								<img ng-if="vm.teamData.img" ng-src="/app/images/teams/{{vm.teamData.img}}" style="margin:auto;" style="width:200px;height:200px;" class="img-responsive" alt="">
							</div>
							<img ng-if="vm.teamImg.newImg != null" ngf-src="vm.teamImg.newImg" style="margin:auto;" alt="">
						</div>
						<div class="col-xs-12">
						<p style="padding:5px;"></p>
							<div ng-if="vm.teamData.is_full">
								<div class="alert alert-warning text-center"><strong>El equipo esta lleno</strong></div>
							</div>
							<div ng-if="vm.teamData.has_mentor && !vm.userCreds.hasTeam">
								<div class="alert alert-warning text-center"><strong>El equipo ya tiene un mentor</strong></div>
							</div>
							<div ng-if="!vm.teamData.is_full && !vm.hasTeam && vm.userCreds.role == 1">
								<div class="alert alert-info text-center"><strong>El equipo aún no tiene 4 estudiantes, únete</strong></div>
								<button class="btn btn-primary btn-block" ng-click="vm.joinTeam(vm.teamData.id)" ng-disabled="vm.uploadRequest.isLoading" ng-if="!vm.userHasSentReq"> Solicitar unirme al equipo</button>
								<div class="alert alert-info text-center" ng-if="vm.userHasSentReq"><strong>Tu solicitud fue enviada</strong></div>
							</div>
							<div ng-if="!vm.teamData.is_full && !vm.hasTeam && vm.userCreds.role == 2 && !vm.teamData.has_mentor">
								<div class="alert alert-info text-center"><strong>El equipo aún no tiene mentor, únete</strong></div>
								<button class="btn btn-primary btn-block" ng-click="vm.joinTeam(vm.teamData.id)" ng-disabled="vm.uploadRequest.isLoading" ng-if="!vm.userHasSentReq"> Solicitar unirme al equipo</button>
								<span class="alert alert-default" ng-if="!vm.userHasSentReq">Tu solicitud fue enviada</span>
							</div>
							<div class="alert alert-warning text-center" ng-if="!vm.uploadRequest.success"><strong> {{vm.uploadRequest.msg}}</strong></div>
							<div class="alert alert-warning text-center" ng-if="vm.hasTeam && !vm.isMTeam.state"><strong> Ya tienes un equipo</strong></div>
							<div ng-if="vm.isMTeam.isLeader && vm.isMTeam.state">
								<button ng-if="vm.teamImg.newImg != null" class="btn btn-info" ng-click="vm.updateTeamImg()"> Actualizar imagen</button>
								<button class="btn btn-primary btn-md" ngf-select
								ng-model="vm.teamImg.newImg" ngf-pattern="'.jpg,.gif'" ngf-accept="'.jpg,.gif'" ngf-resize="{width: 200, height: 200, quality: .8, centerCrop: true}"><strong> Cambiar imagen</strong></button>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="col-xs-12 col-sm-6">
			<div class="panel-group">
				<div class="panel panel-default">
					<div class="panel-body">
						<button class="btn btn-primary btn-md pull-right" ng-if="vm.isMTeam.isLeader && vm.isMTeam.state" ui-sref="user.team-profile.edit({leaderId: vm.isMTeam.uid})">Editar equipo</button>
						<h1>{{ vm.teamData.team_name }}</h1>
						<div class="col-xs-12">
							<div class="col-xs-4" ng-if="vm.teamData.category == null"><p>Categoría: El equipo no tiene categoría</p></div>
							<div class="col-xs-4" ng-if="vm.teamData.category != null"><p>Categoría: {{ vm.teamData.category.nombre }}</p></div>
							<div class="col-xs-4"><p>División: {{ vm.teamData.division.nombre }}</p></div>
							<div class="col-xs-4"><p>Ciudad: {{ vm.teamData.city.nombre }}</p></div>
						</div>
						<div class="col-xs-12 col-sm-12">
							<h2>Proyecto: {{ vm.teamData.project_name }}</h2>
							<p>Descripción del proyecto: {{ vm.teamData.project_desc }}</p>
						</div>
						<div class="col-xs-12">
							<h4>Miembros</h4>
						  	<div class="table-responsive">
						  		<table class="table table-striped">
							  		<tbody>
							  			<tr ng-repeat="member in vm.teamData.members">
							  				<td>
							  					<img ng-if="!member.image" src="/app/images/users/default-user.png" style="margin:auto;" class="img-responsive img-circle">
												<img ng-if="member.image" ng-src="/app/images/users/{{member.image}}" style="width:50px;height:50px;" class="img-circle" alt="">
							  				</td>
							  				<td>{{ member.names + ' ' + member.lastnames }}</td>
							  				<td ng-if="member.is_student"> Estudiante <span ng-if="member.is_leader">(líder)</span> </td>
							  				<td ng-if="!member.is_student"> Mentor (líder)</td>
							  				<td>
							  			</tr>
							  		</tbody>
							  	</table>
						  	</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
