<div class="container-fluid">
	<div class="row">
		<div class="col-xs-12 col-sm-3">
			<div class="panel panel-blue">
				<div class="panel-heading">
					<h2 class="subtitle text-center">Filtros</h2>
				</div>
				<div class="panel-body">
					<div>
						<h4>Ciudad</h4>
						<input type="checkbox" ng-checked="true" ng-click="vm.updateFilter('cities', 'La Paz')"> La Paz <br />
						<input type="checkbox" ng-checked="true" ng-click="vm.updateFilter('cities', 'El Alto')"> El Alto
					</div>
					<div>
						<h4>División</h4>
						<input type="checkbox" ng-checked="true" ng-click="vm.updateFilter('divisions', 'Junior')"> Junior <br />
						<input type="checkbox" ng-checked="true" ng-click="vm.updateFilter('divisions', 'Senior')"> Senior
					</div>
					<div>
						<h4>Categoría</h4>
						<input type="checkbox" ng-checked="true" ng-click="vm.updateFilter('categories', 'Violencia contra la niñez')">Violencia contra la niñez<br />
						<input type="checkbox" ng-checked="true" ng-click="vm.updateFilter('categories', 'Bienestar y salud')"> Bienestar y salud<br />
						<input type="checkbox" ng-checked="true" ng-click="vm.updateFilter('categories', 'Educación')">Educación <br />
					</div>
					<div>
						<h4>Equipos que</h4>
						<input type="radio" ng-value="true" ng-model="vm.filters.teamThat.requestMembers"> Necesitan participantes <br />
						<input type="radio" ng-value="false" ng-model="vm.filters.teamThat.requestMembers"> No necesitan más participantes <br />
						<input type="radio" ng-value="true" ng-model="vm.filters.teamThat.requestMentors"> Necesitan mentor <br />
						<input type="radio" ng-value="false" ng-model="vm.filters.teamThat.requestMentors"> No necesitan mentor <br />
					</div>
				</div>
			</div>
		</div>
		<div class="col-xs-12 col-sm-9">
			<h1 class="title-white-bg text-center"> EQUIPOS</h1>

			<div class="row display-flex">
				<div class="col-xs-12 col-sm-4" ng-repeat="team in vm.teams | TeamFilter: vm.filters.cities : vm.filters.divisions : vm.filters.categories : vm.filters.teamThat.requestMembers : vm.filters.teamThat.requestMentors">
					<div class="panel panel-default">
						<div class="panel-heading">
							<img ng-if="team.img == null" src="/app/images/teams/default-team.jpg" style="margin:auto;" class="img-responsive" alt="">
							<img ng-if="team.img" ng-src="/app/images/teams/{{team.img}}" style="margin:auto;" class="img-responsive" alt="">
						</div>
						<div class="panel-body">
							<h4 class="text-center">{{ team.team_name }}</h4>
							<div style="margin-bottom:10px;">
								<span class="label label-default">División: {{ team.division.nombre }}</span>
								<span class="label label-info category-label" ng-if="team.category != null">Categoría: {{ team.category.nombre }}</span>
								<span class="label label-success city-label">Ciudad: {{ team.city.nombre }}</span>
								<span class="label label-primary" ng-if="!team.is_full_students">Necesita miembros</span>
								<span class="label label-primary" ng-if="!team.is_full_mentors">Necesita mentor</span>
								<span class="label label-default" ng-if="team.is_full_students && team.is_full_mentors">Equipo lleno</span>
							</div>
							<button class="btn btn-primary btn-lg btn-block" ui-sref="user.team-profile({id: team.id})">Ver perfil</button>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
