<div class="container-fluid">
  <div class="row">
    <div class="col-xs-12">
			<div class="panel-group">
				<div class="panel panel-default">
					<div class="panel-heading">
						<h3>Expertos</h3>
					</div>
					<div class="panel-body">
						<div class="table-responsive">
							<table class="table table-striped">
								<thead>
									<tr>
										<th>Nombre</th>
										<th>Fecha</th>
										<th>Organización</th>
										<th>Profesión</th>
										<th>Puesto de trabajo</th>
										<th>Ciudad</th>
										<th>Curriculum</th>
										<th>Aprobar/Rechazar</th>
									</tr>
								</thead>
								<tbody>
									<tr ng-repeat="expert in vm.experts">
										<td>{{ expert.names + ' ' + expert.lastnames }}</td>
										<td>{{ expert.created_at }}</td>
										<td>{{ expert.expert.work_place }}</td>
										<td>{{ expert.expert.profession.nombre }}</td>
										<td>{{ expert.expert.work_place }}</td>
										<td>{{ expert.city.nombre }}</td>
										<td><a class="btn btn-info btn-block" href="/Users/pablojordan/laravel_apps/heroes-digitales/storage/app/public/curriculums/{{expert.expert.cv}}}" download> Ver CV</a></td>
										<td>
											<button class="btn btn-success" ng-click="vm.processRequest(expert.id, true)">Aprobar</button>
											<button class="btn btn-danger" ng-click="vm.processRequest(expert.id, false)">Rechazar</button>
										</td>
									</tr>
								</tbody>
							</table>
						</div>
					</div>
				</div>
			</div>
		</div>
  </div>
</div>
