<div class="container-fluid">
  <div class="row" ng-if="vm.isLoading">
    <div class="col-xs-12">
      <h1 class="text-center" style="font-size:75px"><i class="fa fa-circle-o-notch fa-spin" ></i></h1>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12" style="padding-top:20px;padding-bottom:20px">
      <div class="input-group">
        <span class="input-group-addon"><i class="fa fa-search"></i></span>
        <input type="text" class="form-control" placeholder="Buscar mentor" ng-model="vm.mentorFilter">
      </div>
    </div>
    <div class="col-xs-12">
			<div class="panel-group">
				<div class="panel panel-default">
					<div class="panel-heading">
						<h3>Mentores</h3>
					</div>
					<div class="panel-body">
						<div class="table-responsive">
							<table class="table table-striped">
								<thead>
									<tr>
                    <th class="text-center">Nombre</th>
										<th class="text-center">Correo electrónico</th>
										<th class="text-center">Celular</th>
                    <th class="text-center">Fecha de nacimiento</th>
                    <th class="text-center">Género</th>
										<th class="text-center">Ciudad</th>
										<th class="text-center">Trabajo</th>
										<th class="text-center">Profesión</th>
                    <th class="text-center">Lugar de trabajo</th>
                    <th class="text-center" ng-if="vm.userCreds.role == 5">Aprobar inicio de sesión</th>
									</tr>
								</thead>
                <tbody>
									<tr ng-repeat="mentor in vm.mentors | filter:vm.mentorFilter">
										<td class="text-center">{{ mentor.names + ' ' + mentor.lastnames }}</td>
										<td class="text-center">{{ mentor.email }}</td>
										<td class="text-center">{{ mentor.cellphone }}</td>
                    <td class="text-center">{{ mentor.birth_date }}</td>
                    <td class="text-center">{{ mentor.gender }}</td>
										<td class="text-center">{{ mentor.city.nombre }}</td>
										<td class="text-center">{{ mentor.mentor.job }}</td>
                    <td class="text-center">{{ mentor.mentor.profession }}</td>
										<td class="text-center">{{ mentor.mentor.work_place }}</td>
                    <td class="text-center" ng-if="vm.userCreds.role == 5">
                      <button type="button" ng-if="mentor.is_active" class="btn btn-sm btn-danger"   ng-click="vm.approve(mentor.id, false)">Eliminar</button>
                      <button type="button" ng-if="!mentor.is_active" class="btn btn-sm btn-success" ng-click="vm.approve(mentor.id, true)">Aprobar</button>
                    </td>
									</tr>
								</tbody>
							</table>
						</div>
					</div>
				</div>
			</div>
		</div>
  </div>
</div>
