<div class="container-fluid">
  <div class="row" ng-if="vm.isLoading">
    <div class="col-xs-12">
      <h1 class="text-center" style="font-size:75px"><i class="fa fa-circle-o-notch fa-spin" ></i></h1>
    </div>
  </div>
  <div class="row" ng-if="!vm.isLoading">
    <div class="col-xs-12">
			<div class="panel-group">
				<div class="panel panel-default">
					<div class="panel-heading">
						<h3>Estudiantes</h3>
					</div>
					<div class="panel-body">
						<div class="table-responsive">
							<table class="table table-striped">
								<thead>
									<tr>
										<th class="text-center">Nombre</th>
										<th class="text-center">Correo electrónico</th>
										<th class="text-center">Celular</th>
										<th class="text-center">Fecha de nacimiento</th>
										<th class="text-center">División</th>
										<th class="text-center">Ciudad</th>
                    <th class="text-center">Colegio</th>
									</tr>
								</thead>
								<tbody>
									<tr ng-repeat="student in vm.students">
										<td class="text-center">{{ student.names + ' ' + student.lastnames }}</td>
										<td class="text-center">{{ student.email }}</td>
										<td class="text-center">{{ student.cellphone }}</td>
										<td class="text-center">{{ student.birth_date }}</td>
										<td class="text-center">{{ student.cellphone }}</td>
                    <td class="text-center">{{ student.city.nombre }}</td>
										<td class="text-center">{{ student.student.school }}</td>
									</tr>
								</tbody>
							</table>
						</div>
					</div>
				</div>
			</div>
		</div>
  </div>
</div>
