<div class="container-fluid">
  <div class="row">
    <div class="col-xs-12">
      <div class="panel panel-blue">
        <div class="panel-heading">
          <h2 class="subtitle text-center">Filtros</h2>
        </div>
        <div class="panel-body">
          <div>
            <h4>Ciudad</h4>
            <input type="checkbox" ng-checked="true" ng-click="vm.updateFilter('cities', 'La Paz')"> La Paz <br />
            <input type="checkbox" ng-checked="true" ng-click="vm.updateFilter('cities', 'El Alto')"> El Alto
          </div>
          <div>
            <h4>División</h4>
            <input type="checkbox" ng-checked="true" ng-click="vm.updateFilter('divisions', 'Junior (de 10 a 14 años)')"> Junior <br />
            <input type="checkbox" ng-checked="true" ng-click="vm.updateFilter('divisions', 'Senior (de 15 a 18 años)')"> Senior
          </div>
          <!-- <div>
            <h4>Categoría</h4>
            <input type="checkbox" ng-checked="true" ng-click="vm.updateFilter('categories', 'Educación')">Educación <br />
            <input type="checkbox" ng-checked="false" ng-click="vm.updateFilter('categories', 'Violencia contra la niñez')">Violencia contra la niñez<br />
            <input type="checkbox" ng-checked="false" ng-click="vm.updateFilter('categories', 'Bienestar y salud')"> Bienestar y salud<br />
          </div>
          <div>
            <h4>Equipos que</h4>
            <input type="radio" ng-value="true" ng-model="vm.filters.teamThat.requestMembers"> Necesitan participantes <br />
            <input type="radio" ng-value="false" ng-model="vm.filters.teamThat.requestMembers"> No necesitan más participantes <br />
            <input type="radio" ng-value="true" ng-model="vm.filters.teamThat.requestMentors"> Necesitan mentor <br />
            <input type="radio" ng-value="false" ng-model="vm.filters.teamThat.requestMentors"> No necesitan mentor <br />
          </div> -->
        </div>
      </div>
    </div>
    <div class="col-xs-12 col-sm-12">
      <div class="row" ng-if="vm.isLoading">
        <div class="col-xs-12">
          <h1 class="text-center" style="font-size:75px"><i class="fa fa-circle-o-notch fa-spin" ></i></h1>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12" style="padding-top:20px;padding-bottom:20px">
          <div class="input-group">
            <span class="input-group-addon"><i class="fa fa-search"></i></span>
            <input type="text" class="form-control" placeholder="Buscar equipo" ng-model="vm.teamFilter">
          </div>
        </div>
        <div class="col-xs-12">
          <div class="panel-group">
            <div class="panel panel-default">
              <div class="panel-heading">
                <h3>Equipos</h3>
                <h3 class="right">Total equipos: {{ filtered.length }}</h3>
                <h4 class="right">Total mentores La Paz: {{ vm.counters.mentorsLP }}</h3>
                <h4 class="right">Total mentores El Alto: {{ vm.counters.mentorsEA }}</h3>
                <h4 class="right">Total estudiantes La Paz: {{ vm.counters.studentsLP }}</h3>
                <h4 class="right">Total estudiantes El Alto: {{ vm.counters.studentsEA }}</h3>
              </div>
              <div class="panel-body">
                <div class="table-responsive">
                  <table class="table table-striped">
                    <thead>
                      <tr>
                        <th class="text-center">Nombre</th>
                        <th class="text-center">Categoría</th>
                        <th class="text-center">División</th>
                        <th class="text-center">Ciudad</th>
                        <th class="text-center">Tiene mentor</th>
                        <th class="text-center">Mentor</th>
                        <th class="text-center">Estudiantes</th>
                        <th class="text-center" ng-if="vm.userCreds.role == 5">Eliminar</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr ng-repeat="team in filtered = (vm.teams | TeamAdminFilter: vm.filters.cities : vm.filters.divisions | filter:vm.teamFilter)">
                        <td class="text-center">{{ team.team_name }}</td>
                        <td class="text-center">{{ team.category.nombre }}</td>
                        <td class="text-center">{{ team.division.nombre }}</td>
                        <td class="text-center">{{ team.city.nombre }}</td>
                        <td class="text-center">{{ team.has_mentor ? 'Sí' : 'No' }}</td>
                        <td>
                          <table>
                            <tr ng-repeat="member in team.members.mentors track by $index">
                              <td> <strong>{{ $index + 1 }}</strong>. {{ member.names + ' ' + member.lastnames }} ({{ member.gender }}, {{ member.city }})</td>
                            </tr>
                          </table>
                        </td>
                        <td>
                          <table>
                            <tr ng-repeat="member in team.members.students track by $index" style="border-bottom:1px solid black;">
                              <td><strong>{{ $index + 1 }}</strong>.  {{ member.names + ' ' + member.lastnames }} ({{ member.gender }} - {{ member.division }}) </td>
                              <td style="width:150px;" class="text-center">
                                <strong>
                                  {{ member.age }} </br>
                                  {{ member.birth_date }}
                                </strong>
                              </td>
                              <td><strong> {{member.city}} </strong></td>
                            </tr>
                          </table>
                        </td>
                        <td><button type="button" ng-if="vm.userCreds.role == 5" class="btn btn-danger btn-sm" ng-click="vm.deleteTeam(team.id)"><i class="fa fa-times"></i></button></td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
