<div class="container-fluid">
  <div class="col-xs-12 col-sm-10 col-sm-offset-1">
    <h1 class="text-center">Autorización de padre/apoderado</h1>
    <p>Para que su hijo pueda participar en el concurso Héroes Digitales, debe leer y aceptar la siguiente autorización:</p>
    <br />
    <p><strong>Estimado padre de familia:</strong></p>
    <br />

    <p>Queremos agradecerle por apoyar a su hijo o hija a participar en el Concurso Héroes Digitales, que es el primer concurso de emprendimiento tecnológico para niños, niñas y adolescentes de 10 a 18 años en Bolivia organizado por Elemental, escuela de tecnología pionera en la formación de talentos tecnológicos jóvenes y la Fundación IES una organización sin fines de lucro que promueve el emprendimiento en Bolivia.</p>
    <br />

    <p>En este programa, los niños y niñas aprenderán a crear una una aplicación móvil Android que solucione un problema de su comunidad alineada a una de las siguientes 3 categorías:</p>
    <p>Educación, Salud y bienestar y Protección de la niñez. A su vez despertarán su espíritu emprendedor.</p>
    <br />

    <p>Nuestro objetivo es inspirar a los participantes a ser emprendedores tecnológicos en un futuro a la vez que incentivarlos a estudiar una carrera tecnológica.</p>
    <br />

    <p>Su hijo o hija formará un equipo de entre 2 a 4 miembros y junto a un mentor (que puede ser usted, algún familiar o profesor) deberán completar la capacitación en la plataforma de educación virtual en línea, del 20 de Enero al 31 de Marzo. Para ello deberá contar con una computadora y acceso a internet.</p>
    <br />

    <p>Durante el periodo de capacitación tendremos 3 eventos de seguimiento (checkpoints) donde se llevará a cabo la evaluación del avance de equipos y se brindará apoyo y seguimiento a las tareas asignadas dentro de la plataforma para resolver cualquier duda.</p>
    <br />

    <p>Estos eventos que se llevarán a cabo en Universidades reconocidas de la ciudad, UMSA, Universidad Católica Boliviana y en el GAMEA (Gobierno Autónomo Municipal de El Alto), los equipos podrán asistir a la sede que se encuentre más cercana.</p>
    <br />

    <p>Cuando haya terminado la capacitación, los equipos que completen la misma, pasarán a la etapa de clasificación. En la etapa de clasificación un grupo de jueces seleccionará a los ganadores.</p>
    <br />

    <p>Nuestro plan de estudios es en línea y fue elaborado de tal forma que brinde los conocimientos necesarios para que los equipos puedan completar el desarrollo de su proyecto.</p>
    <br />

    <p>Para la defensa final, los equipos finalistas presentarán en vivo sus proyectos a un panel de jueces los cuales definirán a los ganadores de cada categoría (Educación, Salud y Protección para la niñez) y división (Junior y Senior) otorgando un total un total de 6 premios de 450 Dólares Americanos.</p>
    <br />
    <br />

    <p>Estamos comprometidos en apoyar y fomentar el interés y el desarrollo de su hijo o hija en la tecnología y el espíritu empresarial, y nos sentimos  muy honrados en poder trabajar con con niños, niñas y adolescentes  que deseen desarrollar nuevas habilidades y confianza para ser héroes digitales en nuestra sociedad. Es por ello que necesitamos su autorización para que su hijo o hija pueda participar en el mismo.</p>
    <br />

    <p><strong>Para autorizar la participación de su hijo o hija por favor introduzca su nombre en el campo de abajo y presione el botón "Enviar"</strong>.</p>
    <br />

    <p>ACUERDO DE LIBERACIÓN DE RESPONSABILIDAD Y CONSENTIMIENTO</p>
    <p>Este acuerdo es realizado entre la organización del concurso Héroes Digitales representado por la empresa Elemental y la Fundación IES y el padre de familia que firma al pie de este documento.</p>
    <p>Para poder participar en el Concurso Héroes Digitales, el participante y el padre de familia del mismo aceptan los siguientes términos y condiciones:</p>
    <br />

    <p>1. Actividades del Programa</p>
    <p>Los concursantes deberán participar en todas las actividades del concurso:</p>
    <ul>
      <li>Inauguración - 20 de Enero</li>
      <li>Evento de seguimiento #1 - 17 de Febrero</li>
      <li>Evento de seguimiento #2  - 10 de Marzo</li>
      <li>Evento de seguimiento #3 - 31 de Marzo</li>
      <li>Cierre de Etapa de Capacitación - 7 de Abril</li>
      <li>Presentación Final - 14 de Abril</li>
    </ul>
    <p>Para pasar a la etapa de clasificación los concursantes deberán presentar lo siguiente:</p>
    <ul>
      <li>Prototipo de la Aplicación Móvil</li>
      <li>Modelo de negocios (sólo para división Senior).</li>
      <li>Video de explicación del Proyecto</li>
    </ul>
    <br />

    <p>2. Difusión en Medios</p>
    <p>Héroes Digitales producirá contenido, videos, fotos, audio, páginas web que involucran el uso de nombres de participantes, fotos, retratos o voces incluyendo las imágenes y recursos que los participantes subirán a la plataforma. El material de producción y recursos originado por los participantes del concurso será usado para propósitos educativos (no comerciales), de exhibición, publicidad, redes sociales, relaciones públicas u otros por Héroes Digitales. Estos productos pueden ser copiados, editados y distribuidos por Héroes Digitales en la manera descrita arriba.</p>
    <br />

    <p>El padre de familia que firma abajo entiende y otorga consentimiento que el nombre de su hijo o hija, fotografía, retrato, frases o voz podrían ser usados en las maneras descritas arriba y otorga a Héroes Digitales total derecho para usarlos para fines del programa.</p>
    <br />

    <p>3. Liberación de responsabilidad</p>
    <p>El padre de familia que firma abajo entiende y acuerda que la participación de su hijo o hija en el concurso Héroes Digitales es enteramente voluntario. La organización del concurso brindará espacios seguros para sus eventos y actividades, sin embargo no se hace responsable de cualquier daño físico en los participantes, pérdida de alguna propiedad u otros daños ocurridos durante cualquier actividad o evento patrocinado por el concurso.</p>
    <p>El padre de familia o apoderado tiene la responsabilidad de supervisar a su hijo o hija en los eventos  o actividades del concurso de forma obligatoria para los participantes de la división Junior (10 - 14 años) y de forma opcional para los participantes de la división Senior (15 - 18 años).</p>
    <br />

    <p>4. Recolección de Información sobre el Concurso</p>
    <p>Héroes Digitales recolectará información sobre el concurso a través de encuestas. Está información será usada únicamente para evaluar el programa y mejorar futuras versiones del mismo. La información podrá ser recolectada por formularios en línea, encuestas escritas o entrevistas. Los participantes serán invitados a llenar estos recursos antes, durante o después del concurso. Toda la información obtenida será confidencial.</p>
    <br />

    <p>Si tiene alguna pregunta en cualquier momento, no dude en contactarnos a info@heroesdigitales.org</p>
    <br />
    <br />

    <p>Saludos</p>
    <p>El equipo de Héroes Digitales</p>

    <form class="form-horizontal" name="authForm" ng-submit="vm.accept()">
      <p class="text-center"><strong>Escriba su nombre</strong></p>
      <input type="text" class="form-control" ng-model="vm.signature.name" style="margin-bottom:10px;" required>
      <button type="button" class="btn btn-success btn-block" ng-disabled="authForm.$invalid" ng-click="vm.accept()"> Enviar</button>
    </form>
  </div>
</div>
<div id="parentAuth" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h3 class="modal-title text-center"><strong>{{ vm.sended.title }}</strong></h3>
      </div>
      <div class="modal-body">
        <p>{{ vm.sended.msg }}</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-dismiss="modal" ng-click="vm.redirect(vm.sended.success)">Ver página de inicio</button>
      </div>
    </div>
  </div>
</div>
