<div id="hd" class="container-fluid">
	<div class="row row-content ">
		<div class="col-xs-12 col-sm-6">
			<img src="app/images/app-arts/logo.png" class="img-logo" alt="">
		</div>
		<div class="col-xs-12 col-sm-6" >
			<h1 class="text-center title-white-bg">
			CONVIERTETE EN UN HEROE TECNOLÓGICO
			</h1>
			<div class="btn-group" role="group" aria-label="...">
				<button type="button" class="btn btn-lg register-btn" ui-sref="home.register({type: 'student', typeRegister:null, teamId: null})"> Registro de estudiante</button>
				<button type="button" class="btn btn-lg register-btn" ui-sref="home.register({type: 'mentor', typeRegister:null, teamId: null})"> Registro de mentor</button>
			</div>
		</div>
	</div>
	<div class="row row-banner-container">
		<div class="col-xs-12 col-sm-6 youtube-box" >
			<div class=" embed-responsive embed-responsive-16by9 ">
				<iframe class="embed-responsive-item" src="https://www.youtube.com/embed/AUNGrPBSw_o"></iframe>
			</div>
		</div>
		<div id="contest" class="col-xs-12 col-sm-6 text-center" style="color:#000">
			<i class="fa fa-globe fa-5x"></i>
			<h2 class="text-center title-white-bg">CAMBIA EL MUNDO</h2>
			<br />
			<strong class="subtitle-white-bg" style="font-size:18px;">
			Héroes Digitales es el primer
			concurso de emprendimiento
			de base tecnológica para niños
			y adolescentes de la ciudad de
			La Paz y el Alto.</strong>
			<br />
			<a href="/app/docs/terms-use.pdf" target="_blank" download style="font-size:28px;" class="title-white-bg">Descargar convocatoria</a>
		</div>
	</div>
	<h1 id="howto" class="text-center title-white-bg">¿Cómo participar?</h1>
	<div class="row title">
			<div class="col-xs-12 col-sm-4 text-center howto-element">
				<div class="col-xs-12 col-sm-12 howto">
					<img src="/app/images/app-arts/svg/banner-pc.svg" class="img-howto img-center" alt="">
					<h3> PASO 1: Selecciona una categoría y registrate</h3>
				</div>
			</div>
			<div class="col-xs-12 col-sm-4 text-center howto-element" >
				<div class="col-xs-12 col-sm-12 howto">
					<img src="/app/images/app-arts/svg/banner-users.svg" class="img-howto img-center" alt="">
					<h3> PASO 2: Crea un equipo y escoge un mentor</h3>
				</div>
			</div>
			<div class="col-xs-12 col-sm-4 text-center howto-element">
				<div class="col-xs-12 col-sm-12 howto">
					<img src="/app/images/app-arts/svg/banner-appinventor.svg" class="img-howto img-center" alt="">
					<h3> PASO 3: Comienza tu capacitación en AppInventor</h3>
				</div>
			</div>
		</div>
		<div class="row title">
			<div style="padding:5px;background:#fff">
			<div class="col-xs-12 col-sm-4 text-center howto-element">
				<div class="col-xs-12 howto">
					<img src="/app/images/app-arts/svg/banner-phone.svg"  class="img-howto img-center" alt="">
					<h3>  PASO 4: Crea tu app móvil que solucione un problema</h3>
				</div>
			</div>
			<div class="col-xs-12 col-sm-4 text-center howto-element" >
				<div class="col-xs-12 howto">
					<img src="/app/images/app-arts/svg/banner-upload.svg" class="img-howto img-center" alt="">
					<h3>  PASO 5: Prueba la aplicación y subela a la plataforma</h3>
				</div>
			</div>
			<div class="col-xs-12 col-sm-4 text-center howto-element" >
				<div class="col-xs-12 howto">
					<img src="/app/images/app-arts/svg/banner-hero.svg" class="img-howto img-center" alt="">
					<h3>PASO 6: Conviértete en un héroe</h3>
				</div>
			</div>
		</div>
	</div>
	<p style="padding:20px;"></p>
	<div class="row category box">
		<h1 class="text-center title">Categorías</h1>
		<div class="row">
			<div class="col-xs-12 col-sm-4 text-center">
				<i class="fa fa-lock howto-icon"></i>
				<h2> PROTECCIÓN</h2>
			</div>
			<div class="col-xs-12 col-sm-4 text-center">
				<i class="fa fa-medkit howto-icon"></i>
				<h2> BIENESTAR Y SALUD</h2>
			</div>
			<div class="col-xs-12 col-sm-4 text-center">
				<i class="fa fa-graduation-cap howto-icon"></i>
				<h2> EDUCACIÓN</h2>
			</div>
		</div>
	</div>
	<div class="row box">
		<h2 class="text-center title-white-bg">CRONOGRAMA</h2>
    <ul class="timeline">
        <li ng-class=" $index % 2 == 0 ? '' : 'timeline-inverted' " ng-repeat="stage in vm.stages track by $index">
          <div class="timeline-badge success"><i class="glyphicon glyphicon-check"></i></div>
          <div class="timeline-panel">
            <div class="timeline-heading">
              <h4 class="timeline-title">{{ stage.label }}</h4>
							<p><small class="text-muted"><i class="fa fa-calendar-o"></i> Fecha inicio: {{ stage.begin_date | date: 'd-M-y' }}</small></p>
              <p><small class="text-muted"><i class="fa fa-calendar-times-o"></i> Fecha fin: {{ stage.end_date | date: 'd-M-y' }}</small></p>
            </div>
            <div class="timeline-body">
              <p>{{ stage.desc }}</p>
            </div>
          </div>
        </li>
    </ul>
	</div>
	<div class="row">
		<h1 class="text-center title-white-bg">PREMIOS</h1>
		<div class="col-xs-12 col-sm-6 category " >
			<h1 class="text-center title" style="padding:30px;">CATEGORÍA <br /> JUNIOR (10 a 14 años)</h1>
			<div class="col-xs-12 col-sm-6 text-center">
			<img src="/app/images/app-arts/svg/banner-first.svg" class="img-howto img-center" alt="">
				<h2 class="subtitle"> 450$</h2>
			</div>
			<div class="col-xs-12 col-sm-6 subtitle text-center">
				<h3>Bienestar y salud</h3>
				<h3>Violencia contra la niñez</h3>
				<h3>Educación</h3>
			</div>
		</div>
		<div class="col-xs-12 col-sm-6 category" >
			<h1 class="text-center title" style="padding:30px;">CATEGORÍA <br /> SENIOR (15 a 18 años)</h1>
			<div class="col-xs-12 col-sm-6 text-center">
			<img src="/app/images/app-arts/svg/banner-first.svg" class="img-howto img-center" alt="">
				<h2 class="subtitle"> 450$</h2>
			</div>
			<div class="col-xs-12 col-sm-6 subtitle text-center">
				<h3>Bienestar y salud</h3>
				<h3>Violencia contra la niñez</h3>
				<h3>Educación</h3>
			</div>
		</div>
	</div>
	<div class="row">
		<h1 class="text-center title-white-bg" style="margin: 30px 0px;">¿QUIERES SER EXPERTO O JUEZ?</h1>
		<div class="col-xs-12 howto text-center">
			<h4 class="subtitle">¿Tienes experiencia en el área de emprendimiento o tecnología?
Si la respuesta es si,  aplica para ser experto o juez</h4>
		</div>
		<div class="col-xs-12 col-sm-6 text-center box postulation">
			<h4 class="subtitle-white-bg" style="font-size: 24px;">Los jueces harán seguimiento a los equipos en eventos mensuales y se requiere una disponibilidad de 8 horas por mes.</h4>
			<button class="btn btn-default btn-lg register-btn" ui-sref="home.register({type: 'expert', typeRegister:null, teamId: null})"><h4>Postula como experto</h4></button>
		</div>
		<div class="col-xs-12 col-sm-6 text-center box postulation">
			<h4 class="subtitle-white-bg" style="font-size: 24px;">Los expertos harán seguimiento a los equipos en eventos mensuales y se requiere una disponibilidad de 8 horas por mes.</h4>
			<button class="btn btn-default btn-lg register-btn" ui-sref="home.register({type: 'judge', typeRegister:null, teamId: null})"><h4>Postula como juez</h4></button>
		</div>
	</div>
	<h2 id="sponsors" class="text-center title-white-bg" style="padding:40px;border-bottom:1px solid #ddd">ORGANIZAN</h2>
	<div class="row">
		<div class="col-xs-12 col-sm-4 col-sm-offset-1" ng-repeat="org in vm.organizers">
			<img ng-src="/app/images/app-arts/auspiciadores/{{org}}" class="img-center img-sponsor" alt="">
		</div>
	</div>
	<h2 class="text-center title-white-bg" style="padding:40px;border-bottom:1px solid #ddd" >AUSPICIAN</h2>
	<div class="row">
		<div class="col-xs-12 col-sm-4" ng-repeat="sponsor in vm.sponsors">
			<img ng-src="/app/images/app-arts/auspiciadores/{{sponsor}}" class="img-center img-sponsor" alt="">
		</div>
		<div class="col-xs-12"></div>
		<div class="col-xs-12 col-sm-4 col-sm-offset-4" >
			<img src="/app/images/app-arts/auspiciadores/auspiciadores-09.png" class="img-center img-sponsor" alt="">
		</div>
	</div>
	<div class="row box">
		<div class="col-xs-12 col-sm-10 col-sm-offset-1">
			<h2 class="text-center title-white-bg">¿TIENES ALGUNA DUDA?</h2>
			<button class="btn btn-default btn-lg btn-block register-btn"><h3>PREGUNTAS FRECUENTES</h3></button>
		</div>
	</div>
</div>
