<div class="container-fluid">
	<div class="row row-content row-banner-container">
		<div class="col-xs-12 col-sm-8">
			<img src="app/images/app-arts/logo.png" class="img-logo" alt="">
		</div>
		<div class="col-xs-12 col-sm-4" >
			<div class="col-xs-12">
				<button class="btn btn-link btn-lg btn-block register-btn" ui-sref="home.register({type: 'student'})"> Registro de estudiante</button>
				<button class="btn btn-link btn-lg btn-block register-btn" ui-sref="home.register({type: 'mentor'})"> Registro de mentor</button>
			</div>
			<div class="col-xs-12">
				<button class="btn btn-link btn-lg btn-block register-btn" ui-sref="home.register({type: 'judge'})"> Registro de juez</button>
				<button class="btn btn-link btn-lg btn-block register-btn" ui-sref="home.register({type: 'expert'})"> Registro de experto</button>
			</div>
		</div>
	</div>
	<div class="row row-youtube" style="background:#229ed7;">
		<div class="col-xs-12 col-sm-8" >
			<div class=" embed-responsive embed-responsive-16by9">
				<iframe class="embed-responsive-item" src="https://www.youtube.com/embed/AUNGrPBSw_o"></iframe>
			</div>
		</div>
		<div class="col-xs-12 col-sm-4 change-world text-center">
			<i class="fa fa-globe fa-5x" ></i>
			<h2 class="text-center">CAMBIA EL MUNDO</h2>
			<p>Héroes Digitales es el primer
			concurso de emprendimiento
			de base tecnológica para niños
			y adolescentes de la ciudad de
			La Paz y el Alto.</p>
		</div>
	</div>
	<div class="row howto box">
		<h1 class="text-center">Cómo participar?</h1>
		<div class="row box">
			<div class="col-xs-12 col-sm-4 text-center">
				<img src="/app/images/app-arts/svg/banner-pc.svg" class="img-howto img-center" alt="">
				<h3> PASO 1: Selecciona una categoría y registrate</h3>
				<p> Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
			</div>
			<div class="col-xs-12 col-sm-4 text-center">
				<img src="/app/images/app-arts/svg/banner-users.svg" class="img-howto img-center" alt="">
				<h3> PASO 2: Crea un equipo y escoge un mentor</h3>
				<p> Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
			</div>
			<div class="col-xs-12 col-sm-4 text-center">
				<img src="/app/images/app-arts/svg/banner-appinventor.svg" class="img-howto img-center" alt="">
				<h3> PASO 3: Comienza tu capacitación en Innovación y AppInventor</h3>
				<p> Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
			</div>
		</div>
		<div class="row box">
			<div class="col-xs-12 col-sm-4 text-center">
				<img src="/app/images/app-arts/svg/banner-phone.svg" class="img-howto img-center" alt="">
				<h3> PASO 1: Selecciona una categoría y registrate</h3>
				<p> Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
			</div>
			<div class="col-xs-12 col-sm-4 text-center">
				<img src="/app/images/app-arts/svg/banner-upload.svg" class="img-howto img-center" alt="">
				<h3> PASO 2: Crea un equipo y escoge un mentor</h3>
				<p> Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
			</div>
			<div class="col-xs-12 col-sm-4 text-center">
				<img src="/app/images/app-arts/svg/banner-hero.svg" class="img-howto img-center" alt="">
				<h3> PASO 3: Comienza tu capacitación en Innovación y AppInventor</h3>
				<p> Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
			</div>
		</div>
	</div>
	<div class="row category box">
		<h1 class="text-center">Categorías</h1>
		<div class="row">
			<div class="col-xs-12 col-sm-4 text-center">
				<i class="fa fa-lock howto-icon"></i>
				<h2> PROTECCIÓN</h2>
			</div>
			<div class="col-xs-12 col-sm-4 text-center">
				<i class="fa fa-medkit howto-icon"></i>
				<h2> BIENESTAR Y SALUD</h2>
			</div>
			<div class="col-xs-12 col-sm-4 text-center">
				<i class="fa fa-graduation-cap howto-icon"></i>
				<h2> EDUCACIÓN</h2>
			</div>
		</div>
	</div>
	<div class="row box">
		<h2 class="text-center" style="#CB2228">CRONOGRAMA</h2>
	</div>
	<div class="row category box">
		<div class="row">
			<h1 class="text-center" style="padding:30px;">PREMIOS - CATEGORÍA JUNIOR</h1>
			<div class="col-xs-12 col-sm-4 text-center">
			<img src="/app/images/app-arts/svg/banner-first.svg" class="img-howto img-center" alt="">
				<h2> 450$</h2>
			</div>
			<div class="col-xs-12 col-sm-4 text-center">
				<img src="/app/images/app-arts/svg/banner-second.svg" class="img-howto img-center" alt="">
				<h2> 450$</h2>
			</div>
			<div class="col-xs-12 col-sm-4 text-center">
				<img src="/app/images/app-arts/svg/banner-third.svg" class="img-howto img-center" alt="">
				<h2> 450$</h2>
			</div>
		</div>
		<div class="row">
			<h1 class="text-center" style="padding:30px;">PREMIOS - CATEGORÍA SENIOR</h1>
			<div class="col-xs-12 col-sm-4 text-center">
			<img src="/app/images/app-arts/svg/banner-first.svg" class="img-howto img-center" alt="">
				<h2> 450$</h2>
			</div>
			<div class="col-xs-12 col-sm-4 text-center">
				<img src="/app/images/app-arts/svg/banner-second.svg" class="img-howto img-center" alt="">
				<h2> 450$</h2>
			</div>
			<div class="col-xs-12 col-sm-4 text-center">
				<img src="/app/images/app-arts/svg/banner-third.svg" class="img-howto img-center" alt="">
				<h2> 450$</h2>
			</div>
		</div>
	</div>
	<div class="row box">
		<div class="col-xs-10 col-xs-offset-1 col-sm-8 col-sm-offset-2 howto text-center">
			<h4>Tienes experiencia en el área de emprendimiento o tecnología?
Si la respuesta es si,  aplica para ser experto o juez</h4>
		</div>
		<div class="col-xs-10 col-xs-offset-1 col-sm-8 col-sm-offset-2 text-center box box-expert">
			<h4>Los expertos harán seguimiento a los equipos en eventos mensuales y se requiere una disponibilidad de 8 horas por mes.</h4>
			<button class="btn btn-default btn-lg register-btn"><h4>Postula</h4></button>
		</div>
		<div class="col-xs-10 col-xs-offset-1 col-sm-8 col-sm-offset-2 text-center box box-judge">
			<h4>Los expertos harán seguimiento a los equipos en eventos mensuales y se requiere una disponibilidad de 8 horas por mes.</h4>
			<button class="btn btn-default btn-lg register-btn"><h4>Postula</h4></button>
		</div>
	</div>
	<h2 class="text-center" style="padding:40px;border-bottom:1px solid #ddd">ORGANIZAN</h2>
	<div class="row display-flex">
		<div class="col-xs-12 col-sm-3 col-sm-offset-2" ng-repeat="org in vm.organizers">
			<img ng-src="/app/images/app-arts/auspiciadores/{{org}}" class="img-center img-organizer" alt="">
		</div>
	</div>
	<h2 class="text-center" style="padding:40px;;border-bottom:1px solid #ddd" >AUSPICIAN</h2>
	<div class="row display-flex">
		<div class="col-xs-12 col-sm-3 col-sm-offset-1" ng-repeat="sponsor in vm.sponsors">
			<img ng-src="/app/images/app-arts/auspiciadores/{{sponsor}}" class="img-center img-sponsor" alt="">
		</div>
	</div>
	<div class="row box">
		<div class="col-xs-12 col-sm-10 col-sm-offset-1">
			<h2 class="text-center">TIENES ALGUNA DUDA?</h2>
			<button class="btn btn-default btn-lg btn-block register-btn"><h3>PREGUNTAS FRECUENTES</h3></button>
		</div>
	</div>
</div>
