<div class="container-fluid">
	<div class="row">
		<div class="banner-container">
			<img src="/app/images/banner-test.jpg" alt="" class="img-responsive banner">
		</div>
		<div class="col-xs-12" style="padding:60px;">
			<div class="col-xs-6">
				<button class="btn btn-primary btn-lg" ui-sref="home.register({type: 'student'})"> Registro de estudiante</button>
				<button class="btn btn-primary btn-lg" ui-sref="home.register({type: 'mentor'})"> Registro de mentor</button>
			</div>
			<div class="col-xs-6">
				<button class="btn btn-primary btn-lg" ui-sref="home.register({type: 'judge'})"> Registro de juez</button>
				<button class="btn btn-primary btn-lg" ui-sref="home.register({type: 'expert'})"> Registro de experto</button>
			</div>
		</div>
	</div>
	<div class="row" style="padding:0px 60px;">
		<div class="col-xs-12 col-sm-8">
			<iframe style="width:100%;height:300px;" src="https://www.youtube.com/embed/AUNGrPBSw_o" frameborder="0" allowfullscreen></iframe>
		</div>
		<div class="col-xs-12 col-sm-4">
			Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dignissimos, aspernatur nihil quasi doloremque hic maxime modi, iusto consequuntur error et rem. Laudantium praesentium fuga incidunt fugiat minima assumenda illo odio?
		</div>
	</div>
	<div class="row" style="padding: 60px;">
		<div class="col-xs-12 col-sm-8">
			<h2>Convocatoria</h2>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci ea cupiditate assumenda consequuntur nam velit natus reprehenderit esse necessitatibus reiciendis eius error in, hic maiores nobis consequatur quas minima obcaecati.</p>
		</div>
	</div>
</div>