<div class="container-fluid">
  <div class="row row-faq" style="color:#fff;">
    <div class="col-xs-12">
      <h1 class="title title-space text-center">Preguntas Frecuentes</h1>
        <div class="col-xs-12 col-sm-6">

        </div>
        <div class="col-xs-12 col-sm-6" >
          <h3 data-toggle="collapse" data-target="#1" class="question">¿Qué es Héroes Digitales?</h3>
          <p id="1" class="collapse answer">Héroes Digitales es el primer concurso en Latinoamérica que tiene un programa de educación donde los participantes aprenderán a crear una aplicación móvil que resuelva un problema social en su entorno, motivándolos a convertirse en futuros líderes y emprendedores tecnológicos.</p>
          <h3 data-toggle="collapse" data-target="#2" class="question">¿Tiene algún costo participar en Héroes Digitales?</h3>
          <p id="2" class="collapse answer">No, ninguno. El concurso es totalmente GRATUITO! gracias a nuestros auspiciadores</p>
          <h3 data-toggle="collapse" data-target="#3" class="question">¿Quien organiza Héroes Digitales?</h3>
          <p id="3" class="collapse answer">Héroes Digitales es organizado por la empresa Elemental y la Fundación IES.</p>
          <h3 data-toggle="collapse" data-target="#4" class="question">¿Cómo participar en Héroes Digitales?</h3>
          <p id="4" class="collapse answer">Para participar de este concurso los niños, niñas y adolescentes de 10 a 18 años tienen que conformar un equipo de entre 2 a 4 participantes (50% deben ser mujeres) y contar con un mentor que puede ser un profesor, amigo, familiar o también encontrarlo en la plataforma.</p>
          <h3 data-toggle="collapse" data-target="#5" class="question">¿Dónde consigo un mentor?</h3>
          <p id="5" class="collapse answer">Si el equipo no tiene un mentor puede encontrar uno en la plataforma de Héroes Digitales.</p>
          <h3 data-toggle="collapse" data-target="#6" class="question">¿Hasta cuándo puedo registrarme?</h3>
          <p id="6" class="collapse answer">Puedes registrar a tu equipo hasta el 6 de enero de 2018. El equipo debe tener al menos 2 estudiantes (una de sexo femenino) y un mentor para participar del concurso.</p>
          <h3 data-toggle="collapse" data-target="#7" class="question">¿Tiene algún costo participar en Héroes Digitales?</h3>
          <p id="7" class="collapse answer">No, ninguno. El concurso es totalmente GRATUITO! gracias a nuestros auspiciadores</p>
          <h3 data-toggle="collapse" data-target="#8" class="question">¿Porque es importante que haya 50% participación de mujeres en cada equipo?</h3>
          <p id="8" class="collapse answer">Porque Héroes digitales incentiva la diversidad en el área de emprendimiento y tecnología.</p>
          <h3 data-toggle="collapse" data-target="#9" class="question">¿Cuales son los requisitos para participar?</h3>
          <ul id="9" class="collapse answer">
            <li>Estar registrado en la plataforma online antes del 6 de Enero de 2018</li>
            <li>Crear un equipo de entre 2 y 4 participantes</li>
            <li>Contar con un mentor para el equipo (si no tienes uno puedes buscar uno en la plataforma)</li>
            <li>Los miembros del equipo deben tener la edad de la división a la que el equipo está registrado Junior (10 a 14 años) y Senior (15 a 18 años).</li>
            <li>Un miembro sólo puede estar en un equipo</li>
            <li>Un equipo puede tener más de un mentor</li>
          </ul>
          <h3 data-toggle="collapse" data-target="#10" class="question">¿Cuáles son las etapas del Concurso?</h3>
          <ul id="10" class="collapse answer">
            <li>Tendremos una reunión inicial (Checkpoint 0) el 20 de enero de 2018 en el auditorio de la Universidad Católica Boliviana, donde los participantes recibirán la información del Concurso y se activará la capacitación online para que empiecen el programa en desarrollo de aplicaciones Android y emprendimiento.</li>
            <li>En dos meses el equipo participante deberá realizar el estudio y realizar las misiones asignadas en la plataforma para luego presentarlas en los eventos de seguimiento (Checkpoint )a los expertos.</li>
            <li>Graduación, los equipos que finalicen el programa y realicen todas las misiones entraran a la graduación del Programa y dos equipos seleccionados por los jueces en cada categoría y división pasarán a la gran final.</li>
            <li>Final, los finalistas de las categorías y divisiones realizarán la presentación de su prototipo y modelo de negocio (en la división senior) ante un jurado para la premiación.</li>
          </ul>
          <h3 data-toggle="collapse" data-target="#11" class="question">¿Donde serán los eventos de seguimiento (Checkpoints)?</h3>
          <p id="11" class="collapse answer">La reuniones iniciales serán la Universidad Católica Boliviana en Obrajes, UMSA en la carrera de Informática y en los auditorios del Gobierno Municipal de El Alto.</p>
          <h3 data-toggle="collapse" data-target="#12" class="question">¿Es obligatorio ir a los eventos de seguimiento?</h3>
          <p id="12" class="collapse answer">Para que el equipo esté habilitado a la graduación y a la final, mínimo el 50% del equipo debe asistir a todos los eventos de seguimiento.</p>
          <h3 data-toggle="collapse" data-target="#13" class="question">¿Cuáles son los premios del Concurso?</h3>
          <p id="13" class="collapse answer">Tenemos 6 premios de 450 Dólares Americanos para los ganadores, un ganador por cada categoría y cada división.</p>
          <h3 data-toggle="collapse" data-target="#14" class="question">¿Es obligatorio ir a los eventos de seguimiento?</h3>
          <p id="14" class="collapse answer">Para que el equipo esté habilitado a la graduación y a la final, mínimo el 50% del equipo debe asistir a todos los eventos de seguimiento.</p>
          <h3 data-toggle="collapse" data-target="#15" class="question">¿Cómo aprenderá a crear una aplicación?</h3>
          <p id="15" class="collapse answer">Pasarás lecciones en linea en la plataforma donde deberás completar mas del 75% del curso para poder graduarte como Héroe.</p>
          <h3 data-toggle="collapse" data-target="#16" class="question">¿Qué viene después de que termina el concurso?</h3>
          <div id="16" class="collapse answer">
            <p >¡Los equipos participantes de Héroes Digitales podrán participar de 2 concursos Internacionales en donde podrán enviar sus proyectos!</p>
            <ul>
              <li><a href="https://technovationchallenge.org/" target="_blank">Technovation 2018 - Ir a página del concurso</a></li>
              <li><a href="https://www.stembyme.com/es/web/appinventor-stem4good-americas" target="_blank">STEM4GOOD - Ir a página del concurso</a></li>
            </ul>
          </div>
        </div>
    </div>
  </div>
</div>
