<p style="padding:20px;"></p>
<div class="navbar navbar-default footer">
    <div class="container ">
    	<div class="col-xs-12" style="padding:20px;">
	      <h1 class="text-center title">#HeroesDigitales</h1>
    	</div>
  		<div class="col-xs-12 col-sm-8 col-sm-offset-2">
  			<div class="col-xs-4">
  				  <p class=""><a href="#" class="social-network"><i class="fa fa-copyright"></i> 2017 - Héroes Digitales</a></p>
  			</div>
  			<div class="col-xs-4">
  				  <p class=""><a href="#" class="social-network"> Prensa</a></p>
  			</div>
  			<div class="col-xs-4">
  				  <p class=""><a href="/app/docs/terms-test.pdf" target="_blank" download class="social-network">Convocatoria</a></p>
  			</div>
  		</div>
    </div>
</div>
