<p style="padding:40px;"></p>
<div class="navbar navbar-default footer">
    <div class="container ">
    	<div class="col-xs-12 col-sm-10">
	      <p class="pull-left">© 2017 - Héroes Digitales</p>
    	</div>
  		<div class="col-xs-12 col-sm-10">
  			<div class="col-xs-4 col-sm-3">
  				  <p class=""> Preguntas frecuentes</p>
  			</div>
  			<div class="col-xs-4 col-sm-2">
  				  <p class=""> Contacto</p>
  			</div>
  			<div class="col-xs-4 col-sm-2">
  				  <p class=""> Prensa</p>
  			</div>
  			<div class="col-xs-4 col-sm-2">
  				  <p class=""> Código de Honor</p>
  			</div>
  			<div class="col-xs-4 col-sm-3">
  				  <p class=""> Políticas de privacidad</p>
  			</div>
  		</div>
    </div>
</div>
