<div class="container-fluid">
	<div class="row" style="padding:50px;">
		<div class="col-xs-12 col-sm-10 col-sm-offset-1">
			<div class="panel-group">
			    <div class="panel panel-default">
			      <div class="panel-heading">
			      	<h1 class="text-center">Introduzca el correo electrónico con el que se registro</h1>
				    <div class="panel-body">
				      	<form name="passForm" class="form-horizontal" ng-submit="vm.sendEmail()">
				      		<div class="form-group">
								<div class="col-xs-12 col-sm-6 col-sm-offset-3">
									<div class="col-xs-12">
										<input type="email" id="pass" class="form-control" ng-model="vm.passwordParams.email" required>
										<p style="padding:3px;"></p>
									</div>
								</div>
							</div>
							<div class="alert alert-danger" ng-if="vm.isSubmited.state">
								<strong>{{ vm.isSubmited.msg }}</strong>
							</div>
							<div class="col-xs-12 col-sm-6 col-sm-offset-3">
								<button type="submit" class="btn btn-info btn-lg btn-block" ng-disabled="passForm.$invalid || vm.isSubmited.isLoading"><i ng-class="!vm.isSubmited.isLoading ? 'fa fa-refresh' : 'fa fa-circle-o-notch fa-spin'"></i> Recuperar contraseña</button>
							</div>
				      	</form>
			       </div>
			      </div>
			    </div>
			</div>
		</div>
	</div>
</div>