<nav class="navbar navbar-default navbar-custom">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#heroesNavBar">
        <span class="fa fa-bars"></span>
      </button>
      <a class="navbar-brand" href="#"><img src="/app/images/app-arts/logo.png" style="width:120px;height:auto;" alt=""></a>
    </div>
    <div class="collapse navbar-collapse" id="heroesNavBar" >
      <ul class="nav navbar-nav">
        <li class="active"><a ui-sref="home">Inicio</a></li>
        <li><a href="#">Quiénes somos?</a></li>
        <li><a href="#">Convocatoria</a></li>
        <li><a href="#">Impacto</a></li>
        <li><a href="#">Auspiciadores</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><a data-target="#login" data-toggle="modal"><span class="glyphicon glyphicon-log-in"></span> Inicia sesión</a></li>
      </ul>
    </div>
  </div>
</nav>
<div id="login" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h2 class="modal-title text-center">Inicia sesión</h2>
      </div>
      <form class="form-horizontal" name="loginForm" ng-submit="vm.login()">
      <div class="modal-body">
          <div class="form-group">
            <div class="col-xs-12 col-sm-8 col-sm-offset-2">
              <label for="nombre" class="col-xs-12 col-sm-12 ">Correo electrónico</label>
              <div class="col-xs-12 col-sm-12">
                <input type="email" id="nombre" ng-model="vm.creds.email"  placeholder="P.ej.: rdevio@gmail.com" class="form-control" required>
              </div>
            </div>
        </div>
        <div class="form-group">
          <div class="col-xs-12 col-sm-8 col-sm-offset-2">
            <label for="apat" class=" col-xs-12 ">Contraseña</label>
              <div class="col-xs-12 col-sm-12">
                <input type="password" id="apat" ng-model="vm.creds.password" class="form-control" class="form-control" required>
              </div>
          </div>
        </div>
        <div ng-if="vm.loginState.isNotLogged" class="alert alert-danger">
          <strong>{{ vm.loginState.msg }}</strong>
        </div>
      </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-link" ui-sref="home.forgot-password" data-dismiss="modal">Olvidaste tu contraseña?</button>
        <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
        <button type="submit" ng-disabled="loginForm.$invalid || vm.loginState.isLoading" class="btn btn-success"><i ng-class="!vm.loginState.isLoading ? 'fa fa-sign-in' : 'fa fa-circle-o-notch fa-spin'"></i> Inicia sesión</button>
      </div>
    </div>
    </form>

  </div>
</div>
