<div class="container-fluid">
	<div class="row" style="padding:50px;">
		<div class="col-xs-12 col-sm-10 col-sm-offset-1">
			<div class="panel-group">
			    <div class="panel panel-default">
			      <div class="panel-heading">
			      	<h1 class="text-center">Introduzca su nueva contraseña</h1>
				    <div class="panel-body">
				      	<form name="resetForm" class="form-horizontal" ng-submit="vm.resetPassword()">
				      		<div class="form-group">
								<div class="col-xs-12 col-sm-6 col-sm-offset-3">
									<div class="col-xs-12">
										<input type="password" id="pass" class="form-control" ng-model="vm.passwordParams.password" required>
										<p style="padding:3px;"></p>
									</div>
								</div>
							</div>
							<div class="form-group">
								<label for="" class="col-xs-12 text-center"> Escriba nuevamente su contraseña</label>
								<div class="col-xs-12 col-sm-6 col-sm-offset-3">
									<div class="col-xs-12">
										<input type="password" id="retype" class="form-control" ng-model="vm.passwordParams.retype" required>
										<p style="padding:3px;"></p>
									</div>
								</div>
							</div>
							<div class="alert alert-danger text-center" ng-if="vm.isSubmited.state">
								<strong class="text-center">{{ vm.isSubmited.msg }}</strong>
							</div>
							<div class="col-xs-12 col-sm-6 col-sm-offset-3">
								<button type="submit" class="btn btn-info btn-lg btn-block" ng-disabled="resetForm.$invalid || vm.isSubmited.state"><i ng-class="!vm.isSubmited.isLoading ? 'fa fa-unlock-alt' : 'fa fa-circle-o-notch fa-spin'"></i> Cambiar contraseña</button>
							</div>
				      	</form>
			       </div>
			      </div>
			    </div>
			</div>
		</div>
	</div>
</div>
