<div class="container-fluid">
	<div class="row" style="padding:50px;">
		<div class="col-xs-12 col-sm-10 col-sm-offset-1">
			<div class="panel-group">
			    <div class="panel panel-success">
			      <div class="panel-heading"><h1 class="text-center"> FELICITACIONES</h1></div>
			      <div class="panel-body">
			      	<p class="text-center lead">
			      		<strong> Su registro fue llenado con éxito, por favor revise su correo electrónico para confirmar finalizar su inscripción.
			      		</br>
			      		Gracias por participar en Héroes Digitales</strong>
			      	</p>
			      </div>
			    </div>
			</div>
		</div>
	</div>
</div>