<div class="container-fluid">
	<div class="row" style="padding:50px;">
		<div class="col-xs-12 col-sm-10 col-sm-offset-1">
			<div class="panel-group">
			    <div class="panel panel-success">
			      <div class="panel-heading"><h1 class="text-center"> FELICITACIONES</h1></div>
			      <div class="panel-body">
			      	<p class="text-center lead">
			      		<strong> Se le envio un correo electrónico para que pueda reestablecer su contraseña (también revise su bandeja de spam).
			      		</br>
			      		</strong>
			      		<button class="btn btn-default btn-lg btn-block" ui-sref="home"><i class="fa fa-arrow-left"></i> Inicio</button>
			      	</p>
			      </div>
			    </div>
			</div>
		</div>
	</div>
</div>
